@font-face {
  font-family: 'Researcher';
  src: url('/font/researcher.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroTitle {
  font-family: 'Researcher', sans-serif;
  font-size: 3rem;
}
